---
- name: Install required dependencies
  apt:
    name:
      - curl
      - gpg
      - apt-transport-https
    state: present
    update_cache: yes

- name: Install kubectl
  block:
    - name: Get latest stable kubectl version
      shell: |
        curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt
      register: kubectl_version
      changed_when: false

    - name: Install kubectl
      get_url:
        url: "https://storage.googleapis.com/kubernetes-release/release/{{ kubectl_version.stdout }}/bin/linux/amd64/kubectl"
        dest: "/usr/local/bin/kubectl"
        mode: "0755"

- name: Install Helm
  block:
    - name: Download Helm GPG key
      ansible.builtin.shell: |
        curl -fsSL https://baltocdn.com/helm/signing.asc | gpg --dearmor -o /etc/apt/keyrings/helm.gpg
      args:
        creates: /etc/apt/keyrings/helm.gpg

    - name: Add Helm repository
      ansible.builtin.apt_repository:
        repo: "deb [arch={{ ansible_architecture }} signed-by=/etc/apt/keyrings/helm.gpg] https://baltocdn.com/helm/stable/debian/ all main"
        filename: helm-stable
        state: present
        update_cache: yes

    - name: Install Helm package
      ansible.builtin.apt:
        name: helm
        state: present

- name: Install Kubernetes Lens IDE
  block:
    - name: Download Lens GPG key
      ansible.builtin.shell: |
        curl -fsSL https://downloads.k8slens.dev/keys/gpg | gpg --dearmor -o /etc/apt/keyrings/lens-archive-keyring.gpg
      args:
        creates: /etc/apt/keyrings/lens-archive-keyring.gpg

    - name: Add Lens repository
      ansible.builtin.apt_repository:
        repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/lens-archive-keyring.gpg] https://downloads.k8slens.dev/apt/debian stable main"
        filename: lens
        state: present
        update_cache: yes

    - name: Install Lens package
      ansible.builtin.apt:
        name: lens
        state: present
