---
- name: Установка пакетов
  become: yes
  ansible.builtin.apt:
    name:
      #- apt-transport-https
      - ca-certificates
      - curl
      #- software-properties-common
      #- gnupg-agent
      - gnupg
    state: present
    update_cache: no

- name: Создание директории для ключей
  become: yes
  ansible.builtin.file:
    path: /etc/apt/keyrings
    state: directory
    mode: "0755"

- name: Добавление GPG-ключа Docker
  become: yes
  ansible.builtin.shell: >
    curl -fsSL "https://download.docker.com/linux/{{ ansible_distribution | lower }}/gpg"
    | gpg --dearmor -o /etc/apt/keyrings/docker.gpg
  args:
    creates: /etc/apt/keyrings/docker.gpg

- name: Установка прав на GPG-ключ
  become: yes
  ansible.builtin.file:
    path: /etc/apt/keyrings/docker.gpg
    mode: "0644"

- name: Добавление репозитория Docker
  become: yes
  ansible.builtin.apt_repository:
  repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/{{ ansible_distribution | lower }} {{ ansible_distribution_release }} stable"
  state: present
  update_cache: yes

- name: Установка Docker
  become: yes
  ansible.builtin.apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
    state: present
    update_cache: no

- name: Запуск и включение Docker
  become: yes
  ansible.builtin.service:
    name: docker
    state: started
    enabled: yes

- name: Добавление ext в группу docker
  become: yes
  ansible.builtin.user:
    name: "ext"
    groups: docker
    append: yes
